<footer class="d-flex flex-column mt-auto w-100 pr-1 pl-1 homebridge-purple-200">
  <p>
    Homebridge is brought to you by thousands of plugin developers, dozens of core contributors, <a
      href="https://twitter.com/pieceofsummer">@pieceofsummer</a> who reverse-engineered HomeKit, <a
      href="https://twitter.com/KhaosT">@KhaosT</a> who built the HAP server, this guy <a
      href="https://twitter.com/nfarina">@nfarina</a>, and home hackers like you.
  </p>
  <p>
    Site design by <a href="http://twitter.com/taitems?lang=en">Tait Brown</a>
    <span> | </span>
    Logo by <a href="https://github.com/ggabogarcia">Gabriel Garcia</a>
    <span> | </span>
    &copy; {{ currentYear }} <a href="https://github.com/homebridge/homebridge/graphs/contributors">
      Homebridge Contributors
    </a>
  </p>
</footer>