<div class="bg-white mt-4 mb-4">
  <div class="row p-5 section-block">
    <div class="col-md-6">
      <h4>Bringing HomeKit support where there is none</h4>
      <p>
        Homebridge allows you to integrate with smart home devices that do not natively support HomeKit. There are
        over 2,000 Homebridge plugins supporting thousands of different smart accessories.
      </p>
      <p>Some of the most popular plugins include:</p>
      <ul>
        <li>
          <a href="https://www.npmjs.com/package/homebridge-ring" target="_blank">Ring</a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/homebridge-nest" target="_blank">Nest</a> &amp;
          <a href="https://www.npmjs.com/package/homebridge-nest-cam" target="_blank">Nest Cameras</a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/homebridge-tplink-smarthome" target="_blank">
            TP-Link Kasa Smart Home
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/homebridge-hue" target="_blank">
            Hue / deCONZ (Zigbee)
          </a>
        </li>
        <li>
          <a href="https://www.npmjs.com/package/homebridge-harmony" target="_blank">
            Logitech Harmony
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-6 text-center">
      <img src="assets/images/logos.png" width="80%">
    </div>
  </div>

  <div class="">
    <app-find-plugin class="col w-100"></app-find-plugin>
  </div>

  <div class="row mt-2 p-5 section-block">
    <div class="col-md-6">
      <h4>Control your devices anywhere</h4>
      <p>
        Use your iPhone, iPad, Apple Watch, and Mac to control your Homebridge accessories and
        setup automations.
      </p>
      <p>
        Control your devices using the app you choose, such as the
        <a href="https://apps.apple.com/us/app/home/id1110145103" target="_blank">Apple Home App</a>,
        <a href="https://www.evehome.com/eve-app" target="_blank">Eve for HomeKit</a>
        or any of the other 3rd party HomeKit apps.
      </p>
      <p>
        You can also control your accessories using your voice via
        <a href="https://support.apple.com/en-au/HT208280" target="_blank">Siri</a>:
      </p>
      <ul>
        <li>"Turn off the lights downstairs."</li>
        <li>"Set the temperature to 20 degrees."</li>
        <li>"Are the lights on downstairs?"</li>
        <li>"Turn off the fan in the living room."</li>
      </ul>
    </div>
    <div class="col-md-6 text-center">
      <img src="assets/images/homekit-ecosystem.png" width="100%">
    </div>
  </div>

  <div class="row mt-2 p-5 section-block" style="background-color: #f8f7fa;">
    <div class="col-md-6 text-center">
      <img src="assets/images/homebridge-ui.png" width="100%">
    </div>
    <div class="col-md-6">
      <h4>Simple user interface</h4>
      <p>
        The <a href="https://github.com/oznu/homebridge-config-ui-x">Homebridge UI</a> provides an easy to use
        interface to manage your Homebridge plugins, configuration and accessories.
      </p>
      <ul>
        <li>Install and configure Homebridge plugins</li>
        <li>Edit the Homebridge config.json with advanced JSON syntax checking and structure validation</li>
        <li>Visual configuration for over 160 plugins (no manual config.json editing required)</li>
        <li>Monitor your Homebridge server via a fully customisable widget-based dashboard</li>
        <li>View the Homebridge logs</li>
        <li>View and control Homebridge accessories</li>
        <li>Restart Homebridge</li>
        <li>Backup and Restore your Homebridge instance</li>
        <li>Monitor your server status</li>
      </ul>
    </div>
  </div>


  <div class="row mt-2 p-5 section-block">
    <div class="col-md-6">
      <h4>Hardware & Installation</h4>
      <p>
        Homebridge is powered by <a href="https://nodejs.org/">Node.js</a> and can run on any computer. Even a $5
        <a href="https://www.raspberrypi.org/products/raspberry-pi-zero/">
          Raspberry Pi Zero
        </a>
        can run the pre-made
        <a href="https://github.com/homebridge/homebridge-raspbian-image/wiki/Getting-Started">
          Homebridge Raspberry Pi Image</a>.
      </p>

      <p>
        The <a href="https://github.com/homebridge/homebridge/wiki">Homebridge Wiki</a> contains detailed setup
        guides for all popular platforms.
      </p>
    </div>
    <div class="col-md-6 text-center">
      <img class="RaspberryPi mt-2" src="assets/images/raspberry-pi.svg" width="80%">
    </div>
  </div>

</div>