.RaspberryPi {
  opacity: 0.5;
}

p,
li {
  color: #6a6087;
}

.section-block {
  margin-left: 0px;
  margin-right: 0px;
}

.section-block {
  @media (max-width: 575px) {
    padding: 15px !important;
  }
}
