<div class="bg-white mt-4 mb-4">
  <div class="row p-5 section-block">
    <div class="col-md-6">
      <h3>Bringing HomeKit support where there is none</h3>
      <p>
        Homebridge allows you to integrate with smart home devices that do not natively support HomeKit. There are
        over 2,000 Homebridge plugins supporting thousands of different smart accessories.
      </p>
      <p>Some of the most popular plugins include:</p>
      <ul>
        <li>
          <a href="https://github.com/dgreif/ring/tree/master/homebridge#readme" target="_blank">Ring</a>
        </li>
        <li>
          <a href="https://github.com/chrisjshull/homebridge-nest#readme" target="_blank">Nest</a> &amp;
          <a href="https://github.com/Brandawg93/homebridge-nest-cam#readme" target="_blank">Nest Cameras</a>
        </li>
        <li>
          <a href="https://github.com/plasticrake/homebridge-tplink-smarthome#readme" target="_blank">
            TP-Link Kasa Smart Home
          </a>
        </li>
        <li>
          <a href="https://github.com/ebaauw/homebridge-hue#readme" target="_blank">
            Hue / deCONZ (Zigbee)
          </a>
        </li>
        <li>
          <a href="https://github.com/bwp91/homebridge-wemo#readme" target="_blank">
            Belkin Wemo
          </a>
        </li>
        <li>
          <a href="https://github.com/hjdhjd/homebridge-myq#readme" target="_blank">
            myQ
          </a>
        </li>
        <li>
          <a href="https://github.com/hjdhjd/homebridge-unifi-protect#readme" target="_blank">
            UniFi Protect
          </a>
        </li>
      </ul>
    </div>
    <div class="col-md-6 text-center">
      <img src="assets/images/logos.png" width="80%">
    </div>
  </div>

  <div class="">
    <app-find-plugin class="col w-100"></app-find-plugin>
  </div>

  <div class="row mt-2 p-5 section-block">
    <div class="col-md-6">
      <h3>Control your smart devices</h3>
      <p>
        Use your iPhone, iPad, Apple Watch, and Mac to control your Homebridge accessories and
        setup automations.
      </p>
      <p>
        Control your devices using the app you choose, such as the
        <a href="https://apps.apple.com/us/app/home/id1110145103" target="_blank">Apple Home App</a>,
        <a href="https://www.evehome.com/eve-app" target="_blank">Eve for HomeKit</a>
        or any of the other 3rd party HomeKit apps.
      </p>
      <p>
        You can also control your accessories using your voice via
        <a href="https://support.apple.com/en-au/HT208280" target="_blank">Siri</a>:
      </p>
      <ul>
        <li>"Turn off the lights downstairs."</li>
        <li>"Set the temperature to 20 degrees."</li>
        <li>"Are the lights on downstairs?"</li>
        <li>"Turn off the fan in the living room."</li>
      </ul>
      <p>
        With the addition of a
        <a href="https://support.apple.com/en-au/HT207057" target="_blank">home hub (AppleTV, HomePod or iPad)</a>
        you can create powerful automations and securely control your devices even when you're not at home.
      </p>
    </div>
    <div class="col-md-6 text-center">
      <img src="assets/images/homekit-ecosystem.png" width="100%">
    </div>
  </div>

  <div class="row mt-2 p-5 section-block" style="background-color: #f8f7fa;">
    <div class="col-md-6 text-center">
      <img src="assets/images/homebridge-ui.png" width="100%">
    </div>
    <div class="col-md-6">
      <h3>Simple user interface</h3>
      <p>
        The <a href="https://github.com/oznu/homebridge-config-ui-x">Homebridge UI</a> provides an easy to use
        interface to manage your Homebridge plugins, configuration and accessories.
      </p>
      <ul>
        <li>Install and configure Homebridge plugins</li>
        <li>Monitor your Homebridge server via a fully customisable widget-based dashboard</li>
        <li>View and control Homebridge accessories</li>
        <li>Backup and Restore your Homebridge instance</li>
      </ul>
    </div>
  </div>

  <div class="row mt-2 p-5 section-block">
    <div class="col-md-6">
      <h3>Homebridge <fa-icon [icon]="faHeart" class="homebridge-pink-300"></fa-icon> Raspberry Pi</h3>
      <p>
        The <a href="https://www.raspberrypi.org/" target="_blank">Raspberry Pi</a> is a low cost, credit-card sized
        computer that is perfect for running Homebridge.
      </p>

      <div class="d-flex flex-row">
        <fa-icon [icon]="faSdCard" style="font-size: 60px;" class="mr-3 homebridge-purple-400"></fa-icon>
        <div class="mt-2">
          <p>
            Homebridge provides a pre-made Raspberry Pi image. Once flashed to your SD card, you will have
            Homebridge up and running in minutes.
          </p>
        </div>
      </div>
      <div class="text-center">
        <h5>
          <fa-icon [icon]="faDownload" class="text-dark-purple mr-2"></fa-icon>
          <a href="https://github.com/homebridge/homebridge-raspbian-image/wiki/Getting-Started" target="_blank">
            Flash Homebridge Raspberry Pi Image
          </a>
        </h5>
        <p>
          Or just
          <a href="https://github.com/homebridge/homebridge-raspbian-image/releases/latest">download</a>
          the latest image.
        </p>
      </div>

      <h3 class="mt-4">Install Homebridge</h3>
      <p>
        The <a href="https://github.com/homebridge/homebridge/wiki">Homebridge Wiki</a> has easy to follow setup guides
        to help you get Homebridge running on your existing system:</p>
      <ul>
        <li><a href="https://github.com/homebridge/homebridge/wiki/Install-Homebridge-on-macOS">macOS</a></li>
        <li><a href="https://github.com/homebridge/homebridge/wiki">Windows 10</a></li>
        <li>
          <a href="https://github.com/homebridge/homebridge/wiki/Install-Homebridge-on-Raspbian">Raspberry Pi OS</a>
        </li>
        <li>
          <a href="https://github.com/homebridge/homebridge/wiki/Install-Homebridge-on-Debian-or-Ubuntu-Linux">Linux</a>
        </li>
        <li>
          <a href="https://github.com/homebridge/homebridge/wiki/Install-Homebridge-on-Docker">Docker</a>
        </li>
        <li>
          <a href="https://github.com/homebridge/homebridge/wiki/Other-Platforms">Other Platforms</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6 text-center">
      <img class="RaspberryPi mt-2" src="assets/images/raspberry-pi.svg" width="80%">
    </div>
  </div>

</div>