////////////////////////////////////////////////////////////////////////////////
// Typography
// The place where all of the default typography rules are defined. This can
// include font-size, font-family and other aspects etc.
////////////////////////////////////////////////////////////////////////////////

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

$default-font-family: "din-2014", system, sans-serif;

////////////////////////////////////////////////////////////////////////////////
// Defaults
////////////////////////////////////////////////////////////////////////////////

body {
  font-family: $default-font-family;
}

////////////////////////////////////////////////////////////////////////////////
// Headings
////////////////////////////////////////////////////////////////////////////////

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

////////////////////////////////////////////////////////////////////////////////
// Textual Elements
////////////////////////////////////////////////////////////////////////////////

a {
  color: $homebridge-purple-300;
  text-decoration: none;
}
