.platforms {
  z-index: 10000;
  max-width: 550px;

  .platform-box {
    font-size: 60px;
  }

  @media only screen and (max-width: 668px) {
    .platform-box {
      font-size: 35px;
    }
  }
}

.platform-box {
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  z-index: 1000;

  &:hover {
    cursor: pointer;
    color: #ffffff;
  }

  &.active {
    color: #ffffff;

    .is-selected {
      display: block;
    }
  }
}

@media only screen and (max-width: 668px) {
  .is-selected {
    display: none;
    margin-bottom: -25px;
    margin-top: -25px;
  }
}

@media only screen and (min-width: 667px) {
  .is-selected {
    display: none;
    margin-bottom: -47px;
    margin-top: -47px;
  }
}

.display-platform-help {
  z-index: 100;
  color: #ffffff;
  background-color: rgb(0 0 0 / 0.2);
  max-width: 550px;
  border-radius: 5px;

  p {
    opacity: 0.66;
  }
}
