.Logo {
  display: inline-block;
  border-radius: 100%;
  background: #fff;
  width: 133px;
  height: 133px;
  margin: 10px auto;
  position: relative;
  opacity: 0;
  animation: appearUp 1.5s cubic-bezier(0.19, 1, 0.22, 1) forwards 1s;
}

.Logo__Featured svg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 85px;
  overflow: visible;
}
.Logo__Featured svg mask path {
  stroke-dasharray: 1300;
  stroke-dashoffset: 1300;
  animation: dash 3s linear forwards;
  animation-delay: 1.75s;
}
.Logo__Featured svg g#base path {
  fill: #000;
  opacity: 0.3;
}
.Logo__Featured svg g#draw path {
  fill: #000;
  opacity: 0.8;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

#FirstBand path {
  animation: loadUp 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}

#FirstBand path:nth-child(1) {
  animation-delay: 1.825s;
}

#FirstBand path:nth-child(2) {
  animation-delay: 1.9s;
}

#FirstBand path:nth-child(3) {
  animation-delay: 1.975s;
}

#FirstBand path:nth-child(4) {
  animation-delay: 2.05s;
}

#FirstBand path:nth-child(5) {
  animation-delay: 2.125s;
}

#SecondBand path {
  animation: loadUp 0.6s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}

#SecondBand path:nth-child(1) {
  animation-delay: 3.033s;
}

#SecondBand path:nth-child(2) {
  animation-delay: 3.066s;
}

#SecondBand path:nth-child(3) {
  animation-delay: 3.099s;
}

#SecondBand path:nth-child(4) {
  animation-delay: 3.132s;
}

#SecondBand path:nth-child(5) {
  animation-delay: 3.165s;
}

@keyframes loadUp {
  0% {
    transform: translateY(0);
    opacity: 0.25;
  }
  50% {
    transform: translateY(-2px);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appearUp {
  0% {
    transform: translateY(25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.rellax {
  z-index: -999;
}

#commandParallax {
  opacity: 0.33;
  z-index: -1000;
}
#commandParallax .command {
  position: absolute;
  display: block;
  color: #ffffff;
}
#commandParallax .command span {
  transform-style: preserve-3d;
  display: block;
}
#commandParallax .command.__lvl1 {
  font-size: 22px;
  filter: blur(2px);
}
#commandParallax .command.__lvl2 {
  font-size: 16px;
  filter: blur(3px);
  opacity: 0.66;
}
#commandParallax .command.__lvl3 {
  font-size: 16px;
  filter: blur(3px);
  opacity: 0.66;
}
#commandParallax .command.__lvl4 {
  font-size: 16px;
  filter: blur(3px);
  opacity: 0.66;
}
#commandParallax .command.__coffeeMachine {
  left: 15%;
  top: 10%;
}
#commandParallax .command.__goodMorning {
  right: 0;
  top: -5%;
}
#commandParallax .command.__tesla {
  right: 10%;
  top: 25%;
}
.Masthead .container {
  padding: 1px 0;
}
#commandParallax .command.__lvl1 span {
  animation: 5s level-1 linear;
}
#commandParallax .command.__lvl2 span {
  animation: 8.5s level-2 linear;
}
#commandParallax .command.__lvl3 span {
  animation: 9.25s level-3 linear;
}
#commandParallax .command.__lvl4 span {
  animation: 11s level-4 linear;
}

@keyframes level-1 {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(-140px);
    opacity: 0;
  }
}

@keyframes level-2 {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80px);
    opacity: 0;
  }
}

@keyframes level-3 {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}

@keyframes level-4 {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(-30px);
    opacity: 0;
  }
}

.Button {
  display: inline-block;
  border-radius: 10rem;
  text-align: center;
  padding: 1rem 2.25rem;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.075em;
}
.Button__White {
  background: #fff;
  color: #030659;
}
.Button__Glass {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
  box-shadow: 0px 3px 54px 0px rgba(8, 4, 55, 0.66), inset 0.656px 0.755px 1px 0px rgba(255, 255, 255, 0.64),
    inset 0px 0px 8px 0px rgba(255, 255, 255, 0.35);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
}
.Button__Glass span {
  opacity: 0.9;
}
