#commandParallax {
  opacity: 0.33;
  z-index: -1000;
}
#commandParallax .command {
  position: absolute;
  display: block;
  color: #ffffff;
}
#commandParallax .command span {
  transform-style: preserve-3d;
  display: block;
}
#commandParallax .command.__lvl1 {
  font-size: 22px;
  filter: blur(2px);
}
#commandParallax .command.__lvl2 {
  font-size: 16px;
  filter: blur(3px);
  opacity: 0.66;
}
#commandParallax .command.__lvl3 {
  font-size: 16px;
  filter: blur(3px);
  opacity: 0.66;
}
#commandParallax .command.__lvl4 {
  font-size: 16px;
  filter: blur(3px);
  opacity: 0.66;
}
#commandParallax .command.__coffeeMachine {
  left: 15%;
  top: 10%;
}
#commandParallax .command.__goodMorning {
  right: 0;
  top: -5%;
}
#commandParallax .command.__tesla {
  right: 10%;
  top: 25%;
}
.Masthead .container {
  padding: 1px 0;
}
#commandParallax .command.__lvl1 span {
  animation: 5s level-1 linear;
}
#commandParallax .command.__lvl2 span {
  animation: 8.5s level-2 linear;
}
#commandParallax .command.__lvl3 span {
  animation: 9.25s level-3 linear;
}
#commandParallax .command.__lvl4 span {
  animation: 11s level-4 linear;
}

@keyframes level-1 {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(-140px);
    opacity: 0;
  }
}

@keyframes level-2 {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(-80px);
    opacity: 0;
  }
}

@keyframes level-3 {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    opacity: 0;
  }
}

@keyframes level-4 {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateY(-30px);
    opacity: 0;
  }
}

.rellax {
  z-index: -999;
}
