<div class="bg-white mb-4 container">
  <div class="row pt-5 section-block">

    <div class="col-md-12">

      <h1>How To Install Homebridge</h1>

      <p>
        Homebridge can be installed and run on many different platforms. These guides provide easy-to-follow step by
        step instructions that will get you started with Homebridge in minutes.
      </p>

      <div class="markdown-body mt-5">

        <div class="mt-4 mb-4 d-flex flex-row">
          <img align="left" class="mr-2"
            src="https://user-images.githubusercontent.com/3979615/59594350-07b45b80-9137-11e9-85fd-e75093ba91a4.png"
            alt="Install Homebridge on Raspberry Pi" height="75" width="75">
          <div>
            <h3>
              Raspberry Pi
            </h3>
            <p>
              <a href="https://github.com/homebridge/homebridge-raspbian-image/wiki/Getting-Started">
                Official Homebridge Raspberry Pi Image
              </a>
              <br>
              <a class="internal present"
                href="https://github.com/homebridge/homebridge/wiki/Install-Homebridge-on-Raspbian">
                Install Homebridge on Raspbian
              </a>
            </p>
          </div>

        </div>

        <hr>

        <div class="mt-4 mb-4 d-flex flex-row">
          <img align="left" class="mr-2"
            src="https://user-images.githubusercontent.com/3979615/59595664-93c78280-9139-11e9-83dc-4d6f9405e788.png"
            alt="Install Homebridge On Linux" height="75" width="75">
          <div>
            <h3>
              Linux
            </h3>
            <p>
              <a class="internal present"
                href="https://github.com/homebridge/homebridge/wiki/Install-Homebridge-on-Debian-or-Ubuntu-Linux">
                Install Homebridge on Debian or Ubuntu Linux (or similar)
              </a>
              <br>
              <a class="internal present"
                href="https://github.com/homebridge/homebridge/wiki/Install-Homebridge-on-Red-Hat%2C-CentOS-or-Fedora-Linux">
                Install Homebridge on Red Hat, CentOS or Fedora Linux
              </a>
            </p>
          </div>
        </div>

        <hr>

        <div class="mt-4 mb-4 d-flex flex-row">
          <img align="left" class="mr-2"
            src="https://user-images.githubusercontent.com/3979615/59594157-b015f000-9136-11e9-93cb-c9d9773ec9e8.png"
            alt="Install Homebridge on macOS" height="75" width="75">
          <div>
            <h3>
              macOS
            </h3>
            <p>
              <a class="internal present"
                href="https://github.com/homebridge/homebridge/wiki/Install-Homebridge-on-macOS">
                Install Homebridge on macOS</a>
            </p>
          </div>
        </div>

        <hr>

        <div class="mt-4 mb-4 d-flex flex-row">
          <img align="left" class="mr-2"
            src="https://user-images.githubusercontent.com/3979615/59593218-e0f52580-9134-11e9-8b77-585755af5d99.png"
            alt="Install Homebridge on Windows 10" height="75" width="75">
          <div>
            <h3>
              Windows 10
            </h3>
            <p>
              <a class="internal present"
                href="https://github.com/homebridge/homebridge/wiki/Install-Homebridge-on-Windows-10">
                Install Homebridge on Windows 10
              </a>
              <br>
              <a class="internal present"
                href="https://github.com/homebridge/homebridge/wiki/Install-Homebridge-on-Windows-10-Using-Hyper-V">
                Install Homebridge on Windows 10 Using Hyper V
              </a>
            </p>
          </div>
        </div>

        <hr>

        <div class="mt-4 mb-4 d-flex flex-row">
          <img align="left" class="mr-2"
            src="https://user-images.githubusercontent.com/3979615/59594527-56fa8c00-9137-11e9-937b-32092dfcff41.png"
            alt="Install Homebridge On Docker / Synology / Unraid / QNAP" height="75" width="75">
          <div>
            <h3>
              Docker
            </h3>
            <p>
              <a class="internal present"
                href="https://github.com/homebridge/homebridge/wiki/Install-Homebridge-on-Docker">
                Install Homebridge on Docker
              </a>
              <br>
              <a class="internal present" href="https://github.com/oznu/homebridge-syno-spk#how-to-install">
                Synology
              </a>
              |
              <a class="internal present" href="https://github.com/oznu/docker-homebridge/wiki/Homebridge-on-Unraid">
                Unraid
              </a>
              |
              <a class="internal present" href="https://github.com/oznu/docker-homebridge/wiki/Homebridge-on-QNAP">
                QNAP
              </a>
            </p>
          </div>

        </div>

        <hr>

        <p>
          Homebridge can also run on other platforms, check our
          <a class="internal present" href="https://github.com/homebridge/homebridge/wiki/Other-Platforms">
            community contributed guides
          </a>
          to see if your platform is listed.
        </p>

      </div>
    </div>
  </div>

</div>