<div class="bg-white mb-4 container">
  <div class="row p-5 section-block">
    <div class="col-md-12">

      <h1>Homebridge Raspberry Pi Image</h1>

      <p>
        The <a href="https://www.raspberrypi.org/" target="_blank">Raspberry Pi</a> is a low cost, credit-card sized
        computer that is perfect for running Homebridge.
      </p>

      <p>
        Homebridge provides a pre-made Raspberry Pi image. Once flashed to your SD card, you will have Homebridge up and
        running in minutes.
      </p>

      <ul>
        <li>Works on all Raspberry Pi models</li>
        <li>Built on Raspbian Lite (no desktop)</li>
        <li>Simple WiFi Setup</li>
        <li>Includes ffmpeg pre-compiled with audio support (libfdk-aac) and hardware decoding (h264_omx)</li>
        <li>Includes a user friendly, easy to use web based GUI to configure Homebridge and monitor your Raspberry Pi
        </li>
        <li>Visual configuration for over 400 plugins (no manual config.json editing required)</li>
      </ul>

      <div class="text-center mt-4">
        <h3>
          <fa-icon [icon]="faDownload" class="text-dark-purple mr-2"></fa-icon>
          <a href="https://github.com/homebridge/homebridge-raspbian-image/releases/latest" target="_blank">
            Download Homebridge Raspberry Pi Image
          </a>
        </h3>
        <p>
          Follow the
          <a href="https://github.com/homebridge/homebridge-raspbian-image/wiki/Getting-Started">Getting Started</a>
          guide for setup instructions.
        </p>
      </div>

      <div class="text-center">
        <img class="RaspberryPi mt-2" src="assets/images/raspberry-pi.svg" height="200px">
      </div>



    </div>
  </div>
</div>